{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('css/styles.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div id="floating-panel">
        <input id="address" type="textbox" value="Sydney, NSW">
        <input id="submit" type="button" value="Geocode">
    </div>
    <div id="map"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/map.js') }}"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDopRt3mlPGSUXVLCPaPVCxslHytcpw9AY&callback=initMap">
    </script>
{% endblock %}

